/* Style the body of page with backgroiund image */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.wrapper-content {
    border: solid 1px;
    border-color:#dddddd;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

.row {
    background-color: white;
    padding: 15px;
}


/* Change H2 header to teal */
h2 { 
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    border-bottom: solid 3px;
    border-bottom-color: #dddddd;
    margin-bottom: 30px;
}

.img-text {
    display: block;
    width: 200px;
    height: 150px;
}

#wins {
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}

#remGuess {
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}

#wordBlanks {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 60px;  
    margin-top: 60px;  

}


/* Style the footer of page */

.footer {
    background-color: #666666;
    height: 40px;
    width: 100%;
    padding-bottom: 4px;
    padding-top: 10px;
    border-top: solid 6px;
    border-color: #4aaaa5;
    color: white;
    text-align: center;
    font-size: 14px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

