.bg {
    background: url('https://images.pexels.com/photos/46859/pexels-photo-46859.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center;
    position: fixed;
    width: 100%;
    height: 400px; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
    margin: 0px;
    padding: 0px;
  }


.jumbotron {
   
    height: 400px; /*same height as jumbotron */
    color: white;
    font-weight: bold;
    width: 100%;
    text-shadow: #444 0 8px 8px;
    background:transparent;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(19, 19, 32);
    text-shadow: #444 0 8px 8px;
    color: white;
}

p {
   padding-bottom: 25px;
   font-weight: bold;
   
}

h2 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

#score, #wins, #losses {
    text-align: center;
    /* background-color:royalblue; */
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
}

.row {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#outcome {
    text-align: center;
    color: rgb(128, 18, 28);
    text-shadow: white 0 3px 3px;
    font-size: 46px;
    font-weight: bold;
}

#remGuess {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#lettersGuessed {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
}

#wordBlanks {
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 60px;  
    margin-top: 60px;  
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

